<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center-text">Catbreeds</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="general-container">
  <ion-searchbar (ionInput)="handleInput($event)" show-cancel-button="never" placeholder="Cat's breed"></ion-searchbar>

  <div class="divider"></div>

  <ion-card class="card-container" *ngFor="let breed of filteredBreeds; index as index">
    <ion-card-header class="card-header">
      <ion-card-title>{{breed.name}}</ion-card-title>

      <ion-button fill="clear" (click)="checkDetails(breed.id)">More info</ion-button>
    </ion-card-header>

    <ion-img class="image-container"
      [src]="breed?.image?.url ?? 'https://nftcalendar.io/storage/uploads/2022/02/21/image-not-found_0221202211372462137974b6c1a.png'"
      [alt]="breed.name" height="200px"></ion-img>

    <ion-card-content class="detail">
      <div><span class="bold">Country of origin:</span> {{breed.origin}}</div>
      <div><span class="bold">Temperament:</span> {{breed.temperament}}</div>
    </ion-card-content>
  </ion-card>
</ion-content>