#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.center-text {
  text-align: center;
}

.general-container {
  --padding-start: 25px;
  --padding-end: 25px;
  --padding-top: 25px;
  --padding-bottom: 25px;
}

.divider {
  height: 20px;
}

.image-container {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  object-fit: cover;
}

.card-container{
  text-align: center;
}

.card-header{
  display:  flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.bold {
  font-weight: bold;
}